# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# AWS Lambda
.aws-sam/
.serverless/

# VSCode
.vscode/

# MacOS
.DS_Store

# Others
*.env
*.local
tmp/
temp/
*.pem